.side-bar
  .side-bar__top
    .side-bar__top__box
      .side-bar__top__box__name
        shimogama
      .side-bar__top__box__icon
        .side-bar__top__box__icon__1
          = link_to "#" do 
            =icon("fa", "cog")
        .side-bar__top__box__icon__2
          = link_to "#" do 
            = icon("fa", "edit")

  .side-bar__list
    .side-bar__list__box
      %p.side-bar__list__box__group group名     
      %p.side-bar__list__box__text まだメッセージはありません。
        
          

